@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryDarkBlue: hsl(207, 26%, 17%);
  --VeryDarkBlue2:hsl(207, 26%, 19%);
  --bg:hsl(207, 26%, 18%);
  --bgg:hsl(209, 85%, 46%);
  --bc:hsl(0, 0%, 98%);
  
  --mainbg:hsl(0, 0%, 98%);
}

.darkmood {
  background-color: var(--VeryDarkBlue2) ;
  color: var(--VeryLightGray) ;
  --bg:var(--VeryLightGray) ;
  --mainbg:var(--VeryLightGray) ;
  --bg:var(--VeryLightGray) ;
  --bc:var(--VeryDarkBlue) ;
  
}


body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--mainbg);
  overflow-x: hidden;
  color:var(--VeryDarkBlue);
  /* transition: .6s ease-in-out; */
}


/* 
.bg1 {
  background-color: var(--bgg);
  color: var(--VeryLightGray);
} */


.bg1 {
  
  color: var(--bg);
  background-color: var(--bc);
}

.bor {
  border: 1px solid rgb(155, 157, 161);
}


.dropdown_content {
 
  opacity: 0;

  position: absolute;
  z-index: 100000;
  width: 95%;

}

.dropdown_content.open {
opacity: 1;
}
