@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryDarkBlue: hsl(207, 26%, 20%);
  --VeryDarkBlue2:hsl(207, 26%, 15%);
  /* --VeryDarkBlue2: */
  --bg:hsl(207, 26%, 18%);
  --bgg:hsl(209, 85%, 46%);
  --bc:hsl(0, 0%, 98%);
  --mainbg:hsl(0, 0%, 98%);
  


}

.darkmood {
  background-color: var(--VeryDarkBlue2) ;
  color: var(--VeryLightGray) ;
  --bg:var(--VeryLightGray) ;
  --mainbg:var(--VeryLightGray) ;
  --bg:var(--VeryLightGray) ;
  --bc:var(--VeryDarkBlue) ;
   

  
}


body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--mainbg);
  overflow-x: hidden;
  color:var(--VeryDarkBlue);
  

}

.loader {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @apply font-bold  space-x-4   animate-bounce delay-300
}




.bg1 {
  
  color: var(--bg);
  background-color: var(--bc);
 
}

.bor {
  /* border: .2px solid rgb(155, 157, 161); */
}


.dropdown_content {
 
  opacity: 0;

  position: absolute;
  /* z-index: 100000; */
  width: 95%;

}

.dropdown_content.open {
opacity: 1;
}



.sh {
  /* background-color: #f5f1ea; */
  /* width: 100px; */
  /* height: 100px; */
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), -2px -2px 4px rgba(78, 77, 77, 0.2);
  }
  
  
 

